name: PathPlannerLib (Java)

on:
  push:
    branches: [main]
  pull_request:
  workflow_dispatch:

jobs:
  formatting:
    name: "[PPLib] Check Formatting"
    runs-on: ubuntu-22.04
    container: wpilib/ubuntu-base:22.04
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Grant execute permission for gradlew
        run: chmod +x gradlew
        working-directory: ./pathplannerlib

      - name: Check formatting
        run: ./gradlew spotlessCheck
        working-directory: ./pathplannerlib

  test:
    name: "[PPLib] Build & Unit Tests"
    runs-on: ubuntu-22.04
    container: wpilib/ubuntu-base:22.04
    needs: [formatting]
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Grant execute permission for gradlew
        run: chmod +x gradlew
        working-directory: ./pathplannerlib

      - name: Build & Test
        run: ./gradlew build
        working-directory: ./pathplannerlib

      - name: Generate Javadocs
        run: ./gradlew javadoc
        working-directory: ./pathplannerlib

